body{
    background-color: #2D2D2D;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: #1C1C1C;
}

#menuPrincipal{
    padding-top: 20px;
    background-image: linear-gradient(#2D2D2D, #1C1C1C);
}

#menuPrincipal ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
}

#menuPrincipal li{
    padding: 10px;
}

#menuPrincipal a{
    text-decoration: none;
}

#menuPrincipal li:hover{
    border-bottom: 1px white solid; 
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding-top: 20vh;
}

#inicio .btn{
    width: 250px;
    border-radius: 100px;
    margin-top: 7vh;
}
#inicio .btn:hover{
    background-color: #45EF14 ;
    transition: 200ms;
}

#inicio h1{
    font-size: 64px;
}

#inicio h2{
    font-size: 28px;
    margin-top:10vh;
}

.bg_highlighted{
    background-color: #35bb10;
}

.highlight{
    font-weight: bolder;
    text-decoration: underline;
}

.titulo{
    font-weight: bolder;
    margin-top: 20vh;
    margin-bottom: 8vh;
}

#contenidoSobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenidoSobreMi div{
    border: 0.5px solid white;
    width: 35vw;
    padding: 10px;
    margin: 0px 30px 50px;
}

#lenguajesUsados{
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

#contenidoProyectos{
    display: flex;
    justify-content: space-around;
}

.proyecto{
    width: 300px;
}
.proyecto img{
    width: 300px;
    margin-bottom: 15px;
}

footer{
    
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-image: linear-gradient(#1C1C1C, #2D2D2D);
    border-top: 1px solid white;
}

footer img{
    width: 100px;
}

@media (min-width: 768px){
    #inicio h1{
        font-size: 64px;
    }
    .titulo{
        font-size: 45px;
    }
}

@media (min-width: 400) and (max-width: 768px) {
    #inicio h1{
        font-size: 55px;
    }
    .titulo{
        font-size: 45px;
    }
}

@media (max-width: 400px){
    #inicio h1{
        font-size: 45px;
    }
    .titulo{
        font-size: 35px;
    }
}